.intro__list {
  display: grid;
  row-gap: 2px;
  font-style: normal;
  margin: 34px 0 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  list-style: none;
  padding: 0;
}
