.header {
  display: grid;
  grid-template-columns: minmax(142px, 176px) auto;
  grid-template-rows: auto;
  justify-items: space-between;
  min-width: 288px;
  max-width: 1184px;
  width: 90%; /* max-width: 288px */
  min-height: 42px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    width: 93.75%; /* max-width: 720px */
    min-height: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 90.625%; /* max-width: 928px */
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 92.5%; /* max-width: 1184px */
  }
}