.intro {
  max-width: 288px;
  width: 100%;
  min-height: 430px;
  max-height: 754px;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
    align-self: start;
  }
}
