.intro__title {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  font-style: normal;
  color: #fff;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .intro__title {
    white-space: normal;
    font-size: 54px;
    line-height: 58px;
  }
}